form {
  display: flex;
  flex-direction: column;
  padding: 3em;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
}

/* .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 10px;
  width: 50%;
} */

.section h2 {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  margin-bottom: 10px;

}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 92px;
  background-color: #f2f2f2;
  padding: 3px;
  width: 53%;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: inherit;
  margin-left: 419px;
  margin-right: 385px;
}

label {
  font-size: 20px;
  font-weight: bold;
  color: blue;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

